// variables
$size: 100px !default;
$thickness: 6px !default;
$base-color: black !default;
$wheel-color: purple !default;
$speed: 800ms !default;

// styles

.loader {
  margin: 5% auto;
  height: $size;
  width: $size;
  border: $thickness solid $base-color;
  border: {
    right-color: $wheel-color;
    top-color: $wheel-color;
    radius: 100%;
  }
  animation: spin $speed infinite linear;
}

@keyframes "spin" {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
