@import "https://fonts.googleapis.com/css?family=Playfair+Display:400,700i,900i";

@keyframes randomMove {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10vw, 15vh);
  }
  50% {
    transform: translate(-10vw, -15vh);
  }
  75% {
    transform: translate(-5vw, 10vh);
  }
  100% {
    transform: translate(5vw, -10vh);
  }
}

.App {
  max-width: 500px;
  max-height: 1447px;
  margin: 0 auto; /* 화면 중앙에 위치하도록 설정 */
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  /* //////// */
  /* box-sizing: border-box; */
}

body {
  margin: 0;
  min-height: 100vh;
  font-size: 1rem;
  line-height: 1.25;
  /* ////// */
  color: rgba(172, 170, 190, 1);
  text-rendering: optimizeLegibility;
  background-color: #3b3d54;
  font-size: 14px;
  overflow: auto;
  padding: 0;
}

.grid {
  width: 100%;
  max-width: 20rem;
  margin-left: 20%;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-block {
  width: 70%;
  padding: 0.5rem;
}

.image-grid {
  -webkit-transform: rotateX(45deg) rotateZ(45deg);
  transform: rotateX(45deg) rotateZ(45deg);
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.image-grid .tile-link:hover .tile-img {
  top: -1rem;
  left: -1rem;
}

.image-grid .tile-img {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition-property: opacity, top, left, box-shadow;
  transition-property: opacity, top, left, box-shadow;
}

.tile-link {
  display: block;
}

.tile-link:hover .tile-img {
  opacity: 1;
}

.tile-link:hover .tile-img-link {
  display: block;
}

.tile-link:hover .tile-img-link:hover .tile-img {
  opacity: 0.5;
}

.tile-img {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.125s;
  transition-duration: 0.125s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;

  /* //// */
  width: 100%;
  max-height: 150px;
  object-fit: cover;
}
.tile-link:hover .tile-img1 {
  box-shadow: 5px 5px rgba(244, 170, 200, 0.4), 10px 10px rgba(244, 170, 200, 0.3), 15px 15px rgba(244, 170, 200, 0.2),
    20px 20px rgba(244, 170, 200, 0.1), 25px 25px rgba(244, 170, 200, 0.05);
}

.tile-link:hover .tile-img2 {
  box-shadow: 5px 5px rgba(45, 186, 233, 0.4), 10px 10px rgba(45, 186, 233, 0.3), 15px 15px rgba(45, 186, 233, 0.2), 20px 20px rgba(45, 186, 233, 0.1),
    25px 25px rgba(45, 186, 233, 0.05);
}

.tile-link:hover .tile-img3 {
  box-shadow: 5px 5px rgba(214, 221, 244, 0.4), 10px 10px rgba(214, 221, 244, 0.3), 15px 15px rgba(214, 221, 244, 0.2),
    20px 20px rgba(214, 221, 244, 0.1), 25px 25px rgba(214, 221, 244, 0.05);
}

.tile-link:hover .tile-img4 {
  box-shadow: 5px 5px rgba(82, 119, 192, 0.4), 10px 10px rgba(82, 119, 192, 0.3), 15px 15px rgba(82, 119, 192, 0.2), 20px 20px rgba(82, 119, 192, 0.1),
    25px 25px rgba(82, 119, 192, 0.05);
}

.tile-link:hover .tile-img5 {
  box-shadow: 5px 5px rgba(138, 218, 245, 0.4), 10px 10px rgba(138, 218, 245, 0.3), 15px 15px rgba(138, 218, 245, 0.2),
    20px 20px rgba(138, 218, 245, 0.1), 25px 25px rgba(138, 218, 245, 0.05);
}

.tile-link:hover .tile-img6 {
  box-shadow: 5px 5px rgba(203, 215, 193, 0.4), 10px 10px rgba(203, 215, 193, 0.3), 15px 15px rgba(203, 215, 193, 0.2),
    20px 20px rgba(203, 215, 193, 0.1), 25px 25px rgba(203, 215, 193, 0.05);
}

.tile-link:hover .tile-img7 {
  box-shadow: 5px 5px rgba(91, 209, 250, 0.4), 10px 10px rgba(91, 209, 250, 0.3), 15px 15px rgba(91, 209, 250, 0.2), 20px 20px rgba(91, 209, 250, 0.1),
    25px 25px rgba(91, 209, 250, 0.05);
}

.tile-link:hover .tile-img8 {
  box-shadow: 5px 5px rgba(145, 156, 196, 0.4), 10px 10px rgba(145, 156, 196, 0.3), 15px 15px rgba(145, 156, 196, 0.2),
    20px 20px rgba(145, 156, 196, 0.1), 25px 25px rgba(145, 156, 196, 0.05);
}

.tile-link:hover .tile-img9 {
  box-shadow: 5px 5px rgba(188, 97, 129, 0.4), 10px 10px rgba(188, 97, 129, 0.3), 15px 15px rgba(188, 97, 129, 0.2), 20px 20px rgba(188, 97, 129, 0.1),
    25px 25px rgba(188, 97, 129, 0.05);
}

.tile-link:hover .tile-img10 {
  box-shadow: 5px 5px rgba(4, 140, 231, 0.4), 10px 10px rgba(4, 140, 231, 0.3), 15px 15px rgba(4, 140, 231, 0.2), 20px 20px rgba(4, 140, 231, 0.1),
    25px 25px rgba(4, 140, 231, 0.05);
}

/* ////// */
.page {
  margin: 3%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  border-radius: 3px;
  text-align: center;
  font-size: 1.4vw;
}

.page h2 {
  font-weight: bold;
  font-size: 6.5vw;
  font-weight: 900;
  font-style: italic;
  color: #dad8ec;
}

.svg {
  stroke: #7ceaa4;
  position: absolute;
  left: 0;
  bottom: 0;
  transform-style: preserve-3d;
}

@keyframes raise {
  to {
    bottom: 150vh;
  }
}

/* //////////////////////////// */

@import url("https://fonts.googleapis.com/css?family=Raleway:900");

.backButtonSvg {
  margin-left: 5%;
  width: 10vw;
  position: absolute;
  top: 2%; /* 위쪽에서 약간의 여백을 두기 위해 2%로 설정 */
  left: 2%; /* 왼쪽에서 약간의 여백을 두기 위해 2%로 설정 */
  max-width: 430px;
  z-index: 2;
  filter: drop-shadow(0 0 40px rgba(0, 0, 0, 0.3));
}

.backButtonSvg path {
  cursor: pointer;
  animation: blobAnimation 2s infinite forwards;
  transform-origin: 50% 50%;
}

.backButtonSvg path:hover {
  fill: #dc1414;
}

.backButtonSvg text {
  font-size: 45px;
}

@keyframes blobAnimation {
  25% {
    d: path(
      "M 90 210 C 90 180 110 160 130 160 C 160 160 180 140 200 130 C 230 120 270 100 290 140 C 310 170 340 100 360 140 C 370 160 390 180 390 210 C 390 240 380 290 350 280 C 330 270 300 280 280 290 C 260 300 230 300 220 290 C 200 270 160 310 140 280 C 130 260 90 240 90 210 "
    );
    transform: rotate(-5deg);
  }
  50% {
    d: path(
      "M 90 210 C 90 180 100 150 120 130 C 150 100 180 140 200 130 C 230 120 270 100 290 140 C 300 160 330 130 360 140 C 390 150 390 180 390 210 C 390 240 380 300 350 280 C 330 270 320 230 280 260 C 260 280 220 310 200 290 C 180 270 160 280 140 280 C 110 280 90 240 90 210"
    );
  }
  75% {
    d: path(
      "M 90 210 C 90 180 110 180 130 170 C 150 160 170 130 200 130 C 240 130 260 150 290 140 C 310 130 340 120 360 140 C 380 160 390 180 390 210 C 390 240 380 260 350 270 C 320 280 290 270 270 260 C 240 250 230 280 210 290 C 180 310 130 300 110 280 C 90 260 90 240 90 210"
    );
    transform: rotate(5deg);
  }
}
/* @keyframes fall {
  to {
      transform: translateY(calc(100vh + 10px));
  }
} */

@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}

.confetti-particle {
  animation: fall 10s linear infinite;
}

/* .confetti-star {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
} */

@keyframes fall {
  to {
    transform: translateY(calc(100vh + 50px));
  }
}
