body {
  font-family: "omyu_pretty";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
  background: white;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
